@charset "utf-8";
/* CSS Document */
table .even{ background:#F3F3F3;}
table .odd{background:#fff; }
/*table .selected{ background:#FF6262; color:#FFFFFF;}*/

table{ border:#f3f3f3 1px solid; border-collapse:collapse;}
table {  color:#666; text-align:center; }
.caption tr th{padding:4px;}
table tr td{padding:4px;}