@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px;  font-family:"宋体";}

ul, ol { list-style:none;}
img { border:0;}

body { margin:0; text-align:center; /*background:#FFF url(../default/images/login_bg.png) repeat-x top;*/}
#loginbox{
	background:url(/images/login-background_en.jpg); background-repeat:no-repeat;width:800px; height:530px;margin:100px auto;

}
#login { display:block; width:950px; margin:0 auto; text-align:left;}
#login_header { display:block; padding-top:40px; height:80px;}
.login_logo { float:left; margin-top:10px;}
.login_info { float:left; margin-left:10px; line-height:80px; font-size:18px; color:#0088cc; font-weight: bold;}
.navList { display:block; overflow:hidden; height:20px; padding-left:28px;}
.navList ul { float:left; display:block; overflow:hidden;}
.navList li { float:left; display:block; margin-left:-1px; padding:0 10px; background:url(../default/images/login_list.png) no-repeat 0 5px;}
.navList a { display:block; white-space:nowrap; line-height:21px; color:#000; text-decoration:none;}
.navList a:hover { text-decoration:underline;}

.login_title { display:block; padding:25px 0 0 38px;}
.loginForm { /*float:left;*/width:800px; margin-top:120px;}
.loginForm .selfTable{ float:left; display:inline; margin-left:420px; }
.loginForm p { margin:10px 0;}
.loginForm label { float:left; width:70px; padding:0 0 0 10px; line-height:25px; color:#4c4c4c; font-size:14px;}
.loginForm input { padding:3px 0px; border-style:solid; border-width:1px; border-color:#80a5c4;}
.loginForm .login_input { width:140px;}
.loginForm .code { float:left; margin-right:3px;}

    .newsub{
        background: url("/images/button_highlight.png") repeat-x scroll 0 0 ;
        border: 1px solid #80A5C4 !important;
        color: #FFFFFF !important;
        cursor: pointer;
        display: inline-block;
        padding: 6px 6px !important;
    }
	
    .selfTable td{
        font-size: 14px;
        line-height: 32px;
		height: 32px;
        padding: 0 0 0 0px;
		
		
    }
	
.login_bar { padding-left:70px;}
.login_bar .sub { /*display:block;*/ width:75px; height:30px; border:none; background:url(../default/images/login_sub.png) no-repeat; cursor:pointer;}
.login_banner { display:block; height:270px;}
.login_main { display:block; height:200px; padding-right:40px; background:url(../default/images/login_content_bg.png) no-repeat top;}

.helpList { float:right; width:200px;}
.helpList li { display:block; padding-left:10px; background:url(../default/images/login_list.png) no-repeat 0 -40px;}
.helpList a { line-height:21px; color:#333; text-decoration:none; }
.helpList a:hover { text-decoration:underline;}

.login_inner { display:block; width:560px; padding:30px 20px 0 20px;}
.login_inner p { margin:10px 0; line-height:150%; font-size:14px; color:#666;}

#login_footer { clear:both; display:block; margin-bottom:20px; padding:10px; border-top:solid 1px #e2e5e8; color:#666; text-align:center;}
.forgetbutton{
display: inline;
zoom:1;
margin-top:10px;
color:#000;

}